<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Set your browser-->
		<add key="Browser" value="remoteFirefox"/>
		<add key="ElementTimeout" value="30"/>
		<add key="StartUrl" value="https://yandex.by/"/>
		<add key="Login" value="katetest.selenium@yandex.com"/>
		<add key="Password" value="testSelenium001"/>
	</appSettings>
</configuration>
